<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue sur {{ title }}!
  </h1>
  <img width="300" alt="blog image" src="https://upload.wikimedia.org/wikipedia/commons/4/42/Blog_%281%29.jpg">
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="posts">List des posts</a></li>
      <li routerLinkActive="active"><a routerLink="new">Nouveau post</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
</div>
