<li [ngClass]="{'list-group-item': true, 'list-group-item-success': post.loveIt>0, 'list-group-item-danger': post.loveIt<0}">
  <span class="h2">{{ post.title }}</span>
  <span class="pull-right"> {{ post.created_at | date: 'dd/MM/yy' }}</span>

  <p>{{ post.content }}</p>
  <button type="button" name="loveIf" class="btn btn-success" (click)="onLoveIt(post)">Love It!</button>
  <button type="button" name="onDoNotLoveIt" class="btn btn-danger" (click)="onDoNotLoveIt(post)">Don't Love It!</button>

  <span class="badge pull-right">{{ post.loveIt }}</span>
  <button type="button" name="remove" class="pull-right btn btn-danger"  (click)="onDelete(post)">Supprimer Post</button>
</li>
